.hasDelete {
  display: flex;
  align-items: center;

  button {
    width: 35px;
    font-size: 1rem;
    text-align: center;
    font-weight: 550;
    border: none;
    border-radius: 2px;
    padding: 2px;
    cursor: pointer;
    color: white;
    &:first-child {
      background-color: #f7941d;
      margin-right: 2px;
    }
    &:last-child {
      background-color: #acacac;
    }
  }
}
