.hasDelete{
  display: flex;
  align-items: center;

  button{
    width: 40px;
    font-size: 1.0rem;
    text-align: center;
    font-weight:550 ;
    border: none;
    border-radius: 2px;
    padding: 2px;
    cursor: pointer;
    color: white;
    &:first-child{
      background-color: #F7941D;
      margin-right: 2px;
    }
    &:last-child{
      background-color: #ACACAC;
    }
  }
}